
li { 
    display:flex;
    display: inline; 
    align-items: center;
    
   
}
ul {
    display: flex;
    align-items: center;
    
    background-color: beige;
}
header h1 {
    padding: 50px;
}
header {    
    display: flex;
    justify-content: center;
}
section {
    padding-left: 250px;
    padding-right: 250px;
}
header img {
    width: 100%;
}